<div class="flex flex-col items-center justify-center w-full h-full mx-2 dark bg-blue">
    <div class="flex flex-col items-center justify-center w-full h-full mx-4">
        <div class="grid grid-cols-2 gap-4 w-full  mb-15" >
            <div class="w-full ">

                <!-- Form -->
                <form [formGroup]="accountForm">

                    <!-- Section -->
                    <div class="w-full">
                        <div class="text-xl">Crear libro</div>
                        <div class="text-secondary">Llene todos los datos para crear el libro</div>
                    </div>
                    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
                        <!-- Título -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label class="text-white">Título</mat-label>
                                <input
                                    placeholder="Título del libro"
                                    [formControlName]="'titulo'"
                                    matInput>
                            </mat-form-field>
                        </div>

                         <!-- Fecha -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label class="text-white">Fecha</mat-label>
                                <input
                                    placeholder="Fecha"
                                    [formControlName]="'fecha_publicacion'"
                                    matInput>
                            </mat-form-field>
                        </div>

                         <!-- Autor -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label class="text-white">Autor</mat-label>
                                <input
                                    placeholder="Autor"
                                    [formControlName]="'Autor'"
                                    matInput>
                            </mat-form-field>
                        </div>

                        <!-- telefono -->
                        <div class="sm:col-span-4">
                        </div>
                        <!-- Email -->
                        <div class="sm:col-span-4">
                        </div>
                    </div>

                    <!-- Actions -->
                    <div class="flex items-center justify-end">
                        <button
                            class="ml-4"
                            mat-flat-button
                            type="button"
                            [disabled]="accountForm.invalid"
                            [color]="'primary'">Crear Libro
                        </button>
                    </div>
                </form>

            </div>

            <div class="w-full p-10">

                <table mat-table [dataSource]="data" class="mat-elevation-z8">
                    @for (column of displayedColumns; track column) {
                        <ng-container [matColumnDef]="column">
                        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                        </ng-container>
                    }

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                </table>

            </div>

        </div>
    </div>

</div>
